<div><p>1.
  Create a web app to be able to get the weather of
  N
  cities at the same time. The list
  of cities are going to be text separated by commas and will connect to an end point that
  will trigger lambdas for each cities.
  90 points.</p></div>
<p>
<a href="https://github.com/mindude/bucketdudes/blob/master/files/JS_for_examples/getWeatherFromACity.js">Code to get the Weather
from a city</a>
</p>


<p>
  <a href="https://github.com/mindude/bucketdudes/blob/master/files/JS_for_examples/getWeatherFromMultipleCities.js">Code to get the Weather
    from multiple cities</a>
</p>

<div><input type="text" ng-model="cities"></div>
<input type="button" value="Click to get Weather" ng-click="getCities()">
<div><p>{{result}}</p></div>
<br>
<p>2.
  List the 3 main things you need to do in order achieve your professional goals.
  10
  points.</p>
<p>1.- Learn how to read AND analize to understand what I am reading.</p>
<p>2.- Make my team's presence knowable to the world (not just my school, friends and family).</p>
<p>3.- Learn how to communicate.</p>
