<style>
  table, th, td {
    border: 1px solid black;
  }
</style>

<b><p>1.
Automate the deployment of your web site using Grunt.
15 points.</p></b>
<p>The way I did it was based on this guide: <u>http://inspire.blufra.me/grunt-and-aws-s3-how-to-streamline-your-deployment-process/</u></p>
<br>
<p>First you must run this on your terminal:</p>

<p><code><u>npm i grunt-aws-s3 --save-dev</u></code></p>

<p>Then you create inside the folder project a new file named <b>aws-keys.json</b>, inside the file you write this:</p>
<br>
<p><code>
  {
  "AWSAccessKeyId": "YOUR ACCESS KEY ID",<br>
  "AWSSecretKey": "YOUR SECRET ACCESS KEY"<br>
  }
</code></p>
<br>
<p>After that, on your grunt file you will insert inside the grunt.initConfig this:</p>
<br>
<p><code>
  grunt.initConfig({<br>
  ..<br>
  aws: grunt.file.readJSON( 'aws-keys.json' ),<br>
  aws_s3: {<br>
  options: {<br>
  accessKeyId: '<%= aws.AWSAccessKeyId %>',<br>
  secretAccessKey: '<%= aws.AWSSecretKey %>'<br>
  },<br>
  dist: {<br>
  options: {<br>
  bucket: 'YOUR BUCKET'<br>
  },<br>
  files: [<br>
  {<br>
  expand: true, cwd: 'dist/',src: [ '**' ],dest: '/'
  }<br>
  ]<br>
  }<br>
  },<br>
  ..<br>
  }</code>
</p>
<br>

<p>Once finished, you create the task "deploy" deepdown where the grunt.registerTask are, like this:</p>
<p><code>grunt.registerTask('deploy', 'aws_s3:dist');</code></p>
<br>
<p>Now you run in your project folder "grunt build", and after the build is finished, now you can just run "grunt deploy"
  and your new task should deploy the project in your bucket</p><br>
<b><p>2.
Create a Hello World in NodeJs and create a tutorial about it.
15 points.</p></b>

<p>
  First you create a file with the name you with (In case of this tutorial: hello.js), and then inside the file you write this code:
<code>
  console.log("Hello World");
</code>
</p>
<br>

After that, you start terminal, locate where is your file (in my case, is in Desktop, so I would have to write first <code>cd Desktop</code> in the terminal) and then only write <code>node hello.js</code> and everything inside the JS should run.
<br>
<br>

<b><p>3.
Install the aws sdk for nodejs and create a tutorial about it.
15 points.</p></b>

<p>Just open your terminal, then go to your project file (For example: <code>cd myProject</code>) and finally write this code to install aws sdk for nodejs:
<br>
<code>npm install aws-sdk</code><br>
  <br>
  NOTE: if it doesn't work, try with <code>sudo npm install aws-sdk</code>
<p><i>Resource used: https://aws.amazon.com/sdk-for-node-js/</i></p>
<b><p>4.
Create a code in NodeJs that will tell you the version/date of your website in S3.
15
points.</p></b>

<p><code>
  var AWS = require('aws-sdk');<br>
<br>
  AWS.config.region = 'us-west-2';<br>
  <br>
  var YOUR_BUCKET = "bucketdudes"<br>
  var s3 = new AWS.S3();<br>
  var params = { Bucket: YOUR_BUCKET, Key:'index.html' };<br>
  <br>
  s3.getObject(params, function(err, data)<br>
  { if (err) console.log(err, err.stack);<br>
  else<br>
  console.log('This is how you get the "Website version"');<br>
  console.log("Last-edit: ",data.LastModified); });<br>
  <br>
  s3.listBuckets(function(err, data) {<br>
  if (err) { console.log("Error:", err); }<br>
  else {<br>
  console.log('This is how you get the "Bucket version"');<br>
  for (var index in data.Buckets) {<br>
  var bucket = data.Buckets[index];<br>
  if(bucket.Name == YOUR_BUCKET){<br>
  console.log("Bucket: ", bucket.Name, ' : ', bucket.CreationDate);<br>
  }<br>
  }<br>
  }<br>
  });
</code></p>

<p><i>Resource used for this code: http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-examples.html</i></p>
<p>Also, Ruth helped me with the "Website Version"</p><br>
<b><p>5.
Read and explain the post about Microservices Trade-Offs by Martin Fowler
(http://martinfowler.com/articles/microservice-trade-offs.html).
15 points.</p></b>

 <p>The post talks about the pros and cons of using Microservices, and to think about these trade-offs before deciding if it's worth
 using them on your software, these are points that Martin Fowler talked in his post:</p>
  <u>PROS:</u>
  <p>Strong Module Boundaries: Every module can work indepently but at the same time it can comunicate without trouble with other modules.</p>
<p>Independent Deployment: Because of the previous point, every module can be deployed indepently without the need of other modules to work.</p>
<p>Technology Diversity: And because every module can be worked indepently, a module can use any technology without affecting other modules.</p>
<u>CONS</u>
<p>Distribution: Because everything works indepently, this also means that every module will be distributed, which based on what Martin
Fowler says, that makes hard to have good performance, and it also makes debbuging troubling because of all the independent procceses.</p>
<p>Eventual Consistency: Because everything is distribuited, maintaining consistency is hard, which if consistency is eventually not maintained
there will be some things out-of-date in the product, which will make the product look very incosistency.</p>
<p>Operational Complexity: Because of having so many modules that acts indepently, the operational complexity it's high, that it needs a matured
team to get the product to work.</p>
  <b><p>6.
Create a comparison table between AWS, Azure and Google Cloud.
15 points.</p></b>


Compute comparison<br>

  <table>

    <tr>
      <th></th>
      <th>
        AWS
      </th>
      <th>
        Google Cloud
      </th>
      <th>
        Azure
      </th>
    </tr>
    <tr>
      <td>Instance families</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <td>
        Instances types
      </td>
      <td>
38
      </td>
      <td>
18
      </td>
      <td>
33
      </td>
    </tr>
  <tr>
    <td>
      Regions
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
  </tr>
  <tr>
    <td>
      Zones
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
    <td>

    </td>
  </tr>
</table>
<br>
Storage and Databases comparison

<table>

  <tr>
    <th></th>
    <th>
      AWS
    </th>
    <th>
      Google Cloud
    </th>
    <th>
      Azure
    </th>
  </tr>
  <tr>
    <td>Ephemeral (Temporary)</td>
    <td>YES</td>
    <td>YES</td>
    <td>Temporary Storage - DDrive</td>
  </tr>
  <tr>
    <td>
      BLock Storage
    </td>
    <td>
      EBS
    </td>
    <td>
      Persistent disks
    </td>
    <td>
      Page Blobs
    </td>
  </tr>
  <tr>
    <td>
      Object storage
    </td>
    <td>
      S3
    </td>
    <td>
      Google Cloud Storage
    </td>
    <td>
      Block blobs
    </td>
  </tr>
  <tr>
    <td>
      Relational DB
    </td>
    <td>
      RDS
    </td>
    <td>
      Google Cloud SQL
    </td>
    <td>
      Relational DBs
    </td>
  </tr>
  <tr>
    <td>
      Archiving
    </td>
    <td>
      Glacier
    </td>
    <td>
      Nearline
    </td>
    <td>

    </td>
  </tr>
</table>
<br>
Networking comparison
<table>

  <tr>
    <th></th>
    <th>
      AWS
    </th>
    <th>
      Google Cloud
    </th>
    <th>
      Azure
    </th>
  </tr>
  <tr>
    <td>Virtual network</td>
    <td>VCP</td>
    <td>subnet</td>
    <td>VNet</td>
  </tr>
  <tr>
    <td>
      Public IP
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
  </tr>
  <tr>
    <td>
      Hybrid CLoud
    </td>
    <td>
      YES
    </td>
    <td>

    </td>
    <td>
      YES
    </td>
  </tr>
  <tr>
    <td>
      DNS
    </td>
    <td>
      Route 53
    </td>
    <td>

    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      Firewall/ACL
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
    <td>
      YES
    </td>
  </tr>
</table>
<br>
Pricing comparison

<table>

  <tr>
    <th></th>
    <th>
      AWS
    </th>
    <th>
      Google Cloud
    </th>
    <th>
      Azure
    </th>
  </tr>
  <tr>
    <td>Pricing</td>
    <td>Per hour - rounded up</td>
    <td>Per minute - rounded up (minimum 10 minutes</td>
    <td>Per minute - rounded up commitments (pre-paid or monthly)</td>
  </tr>
  <tr>
    <td>
      Models
    </td>
    <td>
      On demand, reserved, spot
    </td>
    <td>
      On demand - sustained use
    </td>
    <td>
      On demand - short term commitments (pre-paid or monthly)
    </td>
  </tr>
</table>
<br>
<p><i>Source: http://cloudacademy.com/blog/public-cloud-war-aws-vs-azure-vs-google/</i></p>
<br>
<b><p>7.
Read at least 5 sections of Seth Godin’s Manifesto: “Stop Stealing Dreams” and tell
me what you think about it.
10 points.</p></b>
<p>I gotta say, it's pretty interesting and for me it told us many things that should be obvious
for society, but for some reason society refuses to acknowledge.</p>
<br><br>
<i>Teamed with: Abraham Villalobos.</i>
