<div><input type="text" ng-model="cities"></div>
<input type="button" value="Click to get Weather" ng-click="getCities()">
<div><p>{{result}}</p></div>
<br>

<input type="button" value="Valid" ng-click="valido()">

<input type="button" value="Invalid" ng-click="invalido()">
<br>
If you are worthy to get the average results, click on this button:
<input type="button" value="I'm worthy" ng-click="consiguePromedio()">
<br>
<div><p>{{avresults}}</p></div>
<br>
Thanks to Alex for asking to the professor what we had to do and stopping me from doing something overcomplicated<br>
like creating a new lambda.
